body {
    margin: 0;
}
.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.navlink {
    list-style: none;
    margin-right: 15px;
}

.slidemenu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.slidebutton {
    list-style: none;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
    flex-direction: column;
}

.textarea {
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer {
    display: flex;
    width: 100%;
    justify-content: center;
    bottom: 0;
    position: absolute;
}
    


@media screen and (max-width: 600px) {
    .navbar {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

}