body {
    margin: 0;
}
.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.navlink {
    list-style: none;
    margin-right: 15px;
}

.slidemenu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 5px;
}

.slidebutton {
    list-style: none;
}
.menu {
    display: flex;
    flex-direction: row;
}
.sidebar {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 250px;
    background: teal;
    
}

.sidelinks {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 125px);
    width: 100%;
    flex-direction: column;
}

.textarea {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.boxbuttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.textbutton {
    margin-right: 10px;
}


.footer {
    display: flex;
    width: 100%;
    justify-content: center;
    bottom: 0;
    position: absolute;
}
    


@media screen and (max-width: 600px) {
    .navbar {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .menu {
        display: flex;
        flex-direction: column;
    }


}